


#header-nav{
	background-color:#000066;
	color:#fff;
	font-size:16px;
	border-radius: 0;
	border: 0;
}

#brand-nav{
	color:white;
}

#brand-nav:hover{
	color:#e6f2ff;
}
#nav-item{
	color:white;
}

#nav-item:hover{
	color:#e6f2ff;
}

.navbar-default .navbar-toggle {
  border-color: #563D7C;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #563D7C;
}

.description{
	background-color: #666699;
	border: 1px solid black;
	color:white;
	font-size:1em;
	padding:0 5% 5% 5%;

}

/********** Large devices only **********/
@media (min-width: 1200px) {
	.chicken-section{
		margin:2%;
	}


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	 .chicken-section{
		margin:5%;
	}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	  .chicken-section{
		margin:10%;
	}


}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	  .chicken-section{
		margin:10%;
	}


}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
	  .chicken-section{
		margin:10%;
	}


}